body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}

#game {
  width: 100vw;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url('Imagens/NightDesert.jpg');
  background-size: 1920px 300px;
  background-repeat: repeat-x;
}

#character {
  width: 100px;
  height: 100px;
  background-image: url('Imagens/Pteranodon_Ride.gif');
  background-size: contain;
  position: absolute;
  bottom: 10%;
  left: 50px;
}

.obstacle {
  width: 65px;
  height: 70px;
  background-image: url('Imagens/cacto.png');
  background-size: cover;
  position: absolute;
  bottom: 10%;
  right: -60px;
}

#score, #timer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}

#timer {
  left: auto;
  right: 10px;
}